@import url(//db.onlinewebfonts.com/c/c6702b05c2eca3e9132d2edfa4f2321e?family=GalandaModernaW01-Regular);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
    font: 30px sans-serif;
    text-align: justify;
    color:white;
    background-color:  #0f4c75 ;
}
html {
  scroll-behavior: smooth;
}
#Categoria, #Reseña{
    font: 50px sans-serif;
}

#Formulario_div{
    width: 40%;  
    height: 60vh;
    top: 20%;
    left: 30%;
    z-index: 1;
    box-sizing: border-box;
    position:fixed;
}

input {
    background-color: white ;
    color: black;
}
.pregunta{
    text-align: center;
}
#sibutton {
    left: 30%;
    position: relative;
    text-align: center;
}
#nobutton{
    left: 50%;
    position: relative;
    text-align: center;
}



