.center {
    margin-top: auto;
    margin-bottom: auto;
}

.custom-container{
    margin-top: 50px;
    background-color: white;
}
.areas {
    color: black;
    background-color: rgb(226, 239, 255) !important;
}
.title {
    font-size: 15px;
}
.cust-jumbo{
    background-color: white !important;
}